{
  "env": {
    "commonjs": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:prettier/recommended"
  ]
}
